{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div
        class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800"> StrawPoll LP-FI</h1>
        <p> Crée par : Teffahi Ryan, Hama Daouda Boubacar, Peutevynck Benoit </p>

    </div>
    <!-- /.container-fluid -->
{% endblock %}