{% extends 'base.html.twig' %}

{% block title %}New Questions{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question</h1>

    {{ include('questions/_form.html.twig') }}

    <a href="{{ path('questions_index') }}">back to list</a>
{% endblock %}
